section{
	box-shadow:0 0 1px;
	padding:2em;
}
a{
	
	padding:10px;
	border:none;
	background-color:blue;
	color:white;
	position:relative;
	border-radius:5px;
	text-decoration:none;
}
a:after{
	position: absolute;
	content: '99+';
    height: 16px;
    width: 31px;
    top: -8px;
    right: -15px;
    color: white;
    padding: 2px 0px 0px 6px;
    border-radius: 10px;
    background-color: rgb(220,55,70);
    position: absolute;
}
a:hover{
		background-color:rgb(9,128,231);
		transition:all 0.7s ease;
}